<h1>Edit Post</h1>
{{!-- enctype="multipart/form-data" --}}
<form action="/admin/posts/edit/{{post.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Title</label>
        <input name="title" type="text" class="form-control" id="title" placeholder="Enter title" value="{{post.title}}">
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select name="category" class="form-control" id="category">
            {{#select post.category}}
                {{#each categories}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
            {{/select}}
        </select>    
    </div>
    <div class="form-group">
        <label for="status">Status</label>
        <select name="status" class="form-control" id="status">
            {{#select post.status}}
                <option value="public">Public</option>
                <option value="private">Private</option>
                <option value="draft">Draft</option>
            {{/select}}
        </select>    
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label for="allowComments">
            <input name="allowComments" {{#if post.allowComments}} checked = "checked" {{/if}} type="checkbox" id="allowComments">Allow Comments</label>
        </div>
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        <textarea name="body" cols="30" rows="10" class="form-control" id="body" placeholder="Enter description">{{post.body}}</textarea>
    </div>
       <div class="form-group">
        <label for="file">File Upload</label>
        <input name="file" class="form-control" type="file">
    </div>
    <button type="submit" class="btn btn-primary">Update Post</button>
</form>